* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
}
#project {
}
main {
  background-color: #f5f5f5;
  height: 40rem;
  width: 32rem;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Header */
h1 {
  font-family: 'Karla';
  font-size: 3rem;
  margin-top: 2.7rem;
  margin-bottom: -60px;
  text-align: center;
  color: #4cc77d;
  text-shadow: 1px 1px 2px black;
}
/* Instructions */
p {
  font-family: 'Inter';
  font-size: 1.3rem;
  width: 25rem;
  margin: auto;
  margin-bottom: -15px;
  text-align: center;
}

/* Dice window */
.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  align-self: center;
  margin: auto;
  gap: 30px;
  margin-bottom: -14px;
}
.die {
  height: 3.5rem;
  width: 3.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  font-family: 'Karla';
  font-size: 2.5rem;
  line-height: 24px;
  color: #2b283a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.075);
}
/* css for each die according to number of dots */
/* Dice with value 2 */
.die.with2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Dice with value 3 */
.die.with3 {
  position: relative;
}
.die.with3 div:nth-child(1) {
  position: absolute;
  top: 15%;
  right: 15%;
}
.die.with3 div:nth-child(2) {
  position: absolute;
  right: 40%;
}
.die.with3 div:last-child {
  position: absolute;
  bottom: 15%;
  left: 15%;
}
/* Dice with value 4 */
.die.with4 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
/* Dice with value 5 */
.die.with5 {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.die.with5 div:nth-child(3) {
  position: absolute;
}
/* Dice with value 6 */
.die.with6 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-left: 3px;
  padding-right: 3px;
}
/* Dots on the dices */
.dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.911);
  background-color: rgba(0, 0, 0, 0.911);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
}

/* Roll button */
button {
  font-family: 'Karla';
  font-size: 1.6rem;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  width: 10rem;
  height: 3.5rem;
  margin: auto;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* Scoreboard */
.score {
  height: 160px;
  display: grid;
  grid-template-columns: 190px 220px;
}
.score--titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Karla';
  gap: 40px;
  color: #5035ff;
  margin-right: 10px;
}
.score--time {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 10px;
  margin: auto;
}
.title {
  font-family: 'Karla';
  color: rgba(0, 0, 0, 0.295);
}
.result {
  border-radius: 5px;
  background-color: #5035ff;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  width: 220px;
  text-align: center;
}
.score--titles div:last-child {
  color: #4cc77d;
}
.score--time div:last-child {
  background-color: #4cc77d;
}

/* Credits */
.credits {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-family: 'Inter', 'Karla', Arial, Helvetica, sans-serif;
}
